* {
    margin: 0;
    padding: 0;
}


header {
    background-color:#B1B7D8 ;
    color: white;

    display: flex;
    justify-content:  space-around;
    padding: 24px 0;
}
.cabecalho-imagem {
    width: 50%;
}
.cabecalho-lista-item {

 display: inline-block;

 margin: -15px 16px;
}